node_modules/
dist/
coverage/
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

src/
example/
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
jest.config.js
rollup.config.js
tsconfig.json
todo.md
.github/
