.primaryColors {
  background: #5cdb95;
  color: #05385b;
}

.shape {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.font {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 4px;
}
